<div class="container">
    <h1>{{id}}</h1>
    <!-- <div class="row">
        <div class="col col-lg-10">
          <p style="font-style:oblique; font-weight: bold">{{news.title}}</p>
        </div> 
        <div class="col col-lg-2">
            <button data-toggle= "collapse" data-target="#demo" type="button" class="btn btn-primary">Repeat <span class="label label-default">New</span></button> 
        </div>
    </div>5
    <div class="row">
        <p>{{newsEntry.author}}</p>
        <p>{{id}}</p>
    </div>

    <div class="row" id="demo" class="collapse">
      <div>
        <p style="font-style: oblique; font-weight: bold"> Repeated Items</p>
        <p> Repeated Body Item</p>
      </div>
    Lorem ipsum dolor text....
    </div>  -->
</div>